In [ ]:
# Connecting with third party MySQL data storage files.io

!pip install mysql-connector-python


import mysql.connector
from mysql.connector import Error

hostname = "" # Add the hostname of the dataset from the files.io
database = "" # Add the database name of the dataset from the files.io
port = "" # Add the port number from the files.io
username = "" # Add the username of the dataset from the files.io
password= "" # Add the password of the dataset from the files.io

try:
    connection = mysql.connector.connect(host=hostname, database=database, user=username, password=password, port=port)
    if connection.is_connected():
      db_Info = connection.get_server_info()
      print("Connected to MySQL Server version ", db_Info)
      cursor = connection.cursor()
      cursor.execute("select database();")
      record = cursor.fetchone()
      print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.1/34.1 MB 61.0 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

/tmp/ipython-input-3479796774.py:16: DeprecationWarning: Call to deprecated function get_server_info. Reason:
    The property counterpart 'server_info' should be used instead.

  db_Info = connection.get_server_info()

Connected to MySQL Server version  8.0.36-28
You're connected to database:  ('olistproject_personalus',)
MySQL connection is closed

In [ ]:
import pandas as pd

order_payments = pd.read_csv("olist_order_payments_dataset.csv") # Reading the csv file called olist_payment_dataset.csv
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [ ]:

import pandas as pd
import mysql.connector
from mysql.connector import Error

# Connection details (Credentials are availabe on files.io once dataset is there)
hostname = ""
database = ""
port = ""
username = ""
password = ""

# CSV file path
csv_file_path = "olist_order_payments_dataset.csv"

# Table name where the data will be uploaded
table_name = "olist_order_payments"


try:
  # Step 1: Establish a connection to MySQL server
  connection = mysql.connector.connect(
    host=hostname,
    database=database,
    user=username,
    password=password,
    port=port
  )
  if connection.is_connected():
      print("Connected to MySQL Server successfully!")

      # Step 2: Create a cursor to execute SQL queries
      cursor = connection.cursor()

      # Step 3: Drop table if it already exists (for clean insertion)
      cursor.execute(f"DROP TABLE IF EXISTS {table_name};")
      print (f"Table {table_name} dropped if it existed.")

      # Step 4: Create a table structure to match CSV file
      create_table_query = f"""
      CREATE TABLE {table_name} (
        order_id VARCHAR(50),
        payment_sequential INT,
        payment_type VARCHAR(20),
        payment_installments INT,
        payment_value FLOAT
      );
      """

      cursor.execute(create_table_query)
      print(f"Table {table_name} created successfully!")


      # Step 5: Load the CSV data into pandas DataFrame
      data = pd.read_csv(csv_file_path)
      print("CSV data loaded into pandas DataFrame.")


      # Step 6: Inserting data in batches of 1000 records
      batch_size = 1000 # Define the batch size
      total_records = len(data) # Get total records in the DataFrame

      print(f"Starting data insertion into `{table_name}` in batches of {batch_size} records.")
      for start in range (0, total_records, batch_size):
          end = start + batch_size
          batch = data.iloc[start:end] # Get the current batch of records

          # Converting batch to list of tuples for MySQL insertion
          batch_records=[
              tuple(row) for row in batch.itertuples (index=False, name=None)
          ]

          # Preparing the INSERT query to push data in relational data form
          insert_query = f"""
          INSERT INTO {table_name}
          (order_id, payment_sequential, payment_type, payment_installments, payment_value)
          VALUES (%s, %s, %s, %s, %s);
          """
          # Executing the insertion query for the batch
          cursor.executemany (insert_query, batch_records)
          connection.commit() # Commit after each batch
          print(f"Inserted records {start + 1} to {min (end, total_records)} successfully.")

      print(f"All {total_records} records inserted successfully into '{table_name}`.")


except Error as e:
    # Step 7: Handling any errors
    print("Error while connecting to MySQL or inserting data:", e)
finally:
    # Step 8: Closingthe cursor and connection
    if connection.is_connected():
      cursor.close()
      connection.close()
      print("MySQL connection is closed.")

Connected to MySQL Server successfully!
Table olist_order_payments dropped if it existed.
Table olist_order_payments created successfully!
CSV data loaded into pandas DataFrame.
Starting data insertion into `olist_order_payments` in batches of 1000 records.
Inserted records 1 to 1000 successfully.
Inserted records 1001 to 2000 successfully.
Inserted records 2001 to 3000 successfully.
Inserted records 3001 to 4000 successfully.
Inserted records 4001 to 5000 successfully.
Inserted records 5001 to 6000 successfully.
Inserted records 6001 to 7000 successfully.
Inserted records 7001 to 8000 successfully.
Inserted records 8001 to 9000 successfully.
Inserted records 9001 to 10000 successfully.
Inserted records 10001 to 11000 successfully.
Inserted records 11001 to 12000 successfully.
Inserted records 12001 to 13000 successfully.
Inserted records 13001 to 14000 successfully.
Inserted records 14001 to 15000 successfully.
Inserted records 15001 to 16000 successfully.
Inserted records 16001 to 17000 successfully.
Inserted records 17001 to 18000 successfully.
Inserted records 18001 to 19000 successfully.
Inserted records 19001 to 20000 successfully.
Inserted records 20001 to 21000 successfully.
Inserted records 21001 to 22000 successfully.
Inserted records 22001 to 23000 successfully.
Inserted records 23001 to 24000 successfully.
Inserted records 24001 to 25000 successfully.
Inserted records 25001 to 26000 successfully.
Inserted records 26001 to 27000 successfully.
Inserted records 27001 to 28000 successfully.
Inserted records 28001 to 29000 successfully.
Inserted records 29001 to 30000 successfully.
Inserted records 30001 to 31000 successfully.
Inserted records 31001 to 32000 successfully.
Inserted records 32001 to 33000 successfully.
Inserted records 33001 to 34000 successfully.
Inserted records 34001 to 35000 successfully.
Inserted records 35001 to 36000 successfully.
Inserted records 36001 to 37000 successfully.
Inserted records 37001 to 38000 successfully.
Inserted records 38001 to 39000 successfully.
Inserted records 39001 to 40000 successfully.
Inserted records 40001 to 41000 successfully.
Inserted records 41001 to 42000 successfully.
Inserted records 42001 to 43000 successfully.
Inserted records 43001 to 44000 successfully.
Inserted records 44001 to 45000 successfully.
Inserted records 45001 to 46000 successfully.
Inserted records 46001 to 47000 successfully.
Inserted records 47001 to 48000 successfully.
Inserted records 48001 to 49000 successfully.
Inserted records 49001 to 50000 successfully.
Inserted records 50001 to 51000 successfully.
Inserted records 51001 to 52000 successfully.
Inserted records 52001 to 53000 successfully.
Inserted records 53001 to 54000 successfully.
Inserted records 54001 to 55000 successfully.
Inserted records 55001 to 56000 successfully.
Inserted records 56001 to 57000 successfully.
Inserted records 57001 to 58000 successfully.
Inserted records 58001 to 59000 successfully.
Inserted records 59001 to 60000 successfully.
Inserted records 60001 to 61000 successfully.
Inserted records 61001 to 62000 successfully.
Inserted records 62001 to 63000 successfully.
Inserted records 63001 to 64000 successfully.
Inserted records 64001 to 65000 successfully.
Inserted records 65001 to 66000 successfully.
Inserted records 66001 to 67000 successfully.
Inserted records 67001 to 68000 successfully.
Inserted records 68001 to 69000 successfully.
Inserted records 69001 to 70000 successfully.
Inserted records 70001 to 71000 successfully.
Inserted records 71001 to 72000 successfully.
Inserted records 72001 to 73000 successfully.
Inserted records 73001 to 74000 successfully.
Inserted records 74001 to 75000 successfully.
Inserted records 75001 to 76000 successfully.
Inserted records 76001 to 77000 successfully.
Inserted records 77001 to 78000 successfully.
Inserted records 78001 to 79000 successfully.
Inserted records 79001 to 80000 successfully.
Inserted records 80001 to 81000 successfully.
Inserted records 81001 to 82000 successfully.
Inserted records 82001 to 83000 successfully.
Inserted records 83001 to 84000 successfully.
Inserted records 84001 to 85000 successfully.
Inserted records 85001 to 86000 successfully.
Inserted records 86001 to 87000 successfully.
Inserted records 87001 to 88000 successfully.
Inserted records 88001 to 89000 successfully.
Inserted records 89001 to 90000 successfully.
Inserted records 90001 to 91000 successfully.
Inserted records 91001 to 92000 successfully.
Inserted records 92001 to 93000 successfully.
Inserted records 93001 to 94000 successfully.
Inserted records 94001 to 95000 successfully.
Inserted records 95001 to 96000 successfully.
Inserted records 96001 to 97000 successfully.
Inserted records 97001 to 98000 successfully.
Inserted records 98001 to 99000 successfully.
Inserted records 99001 to 100000 successfully.
Inserted records 100001 to 101000 successfully.
Inserted records 101001 to 102000 successfully.
Inserted records 102001 to 103000 successfully.
Inserted records 103001 to 103886 successfully.
All 103886 records inserted successfully into 'olist_order_payments`.
MySQL connection is closed.

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.4-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.4-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 31.2 MB/s eta 0:00:00
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 25.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.15.4

In [ ]:
#importing module
from pymongo import MongoClient

# Connection details (Credentials are availabe on files.io once dataset is there)
hostname = ""
database=""
port = ""
username = ""
password = ""
uri = "mongodb://" + username + ":" + password + "@" + hostname + ":" + port + "/" + database

# Connecting with the portnumber and host
client = MongoClient(uri)

# Accessing database
mydatabase = client [database]

In [ ]:

import pandas as pd
from pymongo import MongoClient

# Load the product_category CSV file into a pandas DataFrame
try:
  product_category_df = pd.read_csv("product_category_name_translation.csv")
except FileNotFoundError:
  print("Error: 'product_category_name_translation.csv' not found.")
  exit() # Exit the script if the file is not found


# MongoDB connection details (User can get it from files.io)
hostname = ""
database = ""
port = ""
username = ""
password = ""

uri = "mongodb://" + username + ":" + password + "@" + hostname + ":" + port + "/" + database

try:
    # Establishing a connection to MongoDB
    client = MongoClient(uri)
    db = client[database]

    # Selecting the collection (or create if it doesn't exist)
    collection = db["product_categories"]  # Choose a suitable name for your collection

    # Converting the DataFrame to a list of dictionaries for insertion into MongoDB
    data_to_insert = product_category_df.to_dict(orient="records")

    # Inserting the data into the collection
    collection.insert_many(data_to_insert)

    print("Data uploaded to MongoDB successfully!")

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    # Closing the MongoDB connection
    if client:
        client.close()

Data uploaded to MongoDB successfully!